
<br>
<div class="row">
   <div class="small-11 small-centered large-centered columns">
    <div class="panel-login-header"><span class="titleloginbody text-center">Admin // Listing articles</span></div>
    <div class="panel-login-body clearfix">
      <div class="row">
        <div class="large-12 columns" role="content">
            <h3>Listing articles</h3>
            <hr />
            <span class: "linkform"> <%= select_tag :set_locale, options_for_select(Supportify.locales, I18n.locale) %></span>
            <hr />
            <table class="responsive">
              <thead>
                <tr>
                  <th><span class="theader">Title</th>
                  <th><span class="theader">Locale</th>
                  <th><span class="theader">Tags</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <!-- <td><%#= image_tag article.image_url(:thumb) %> </td> -->
        <td class="trow"><%= article.title %></td>
         <!-- <td><%# = article.slug %></td> -->
        <td class="trow"><%= article.locale %></td>
        <td class="trow">
          Tag list: <b><%= article.tag_list.to_sentence %></b><br/>
          Category list: <b><%= article.category_list.to_sentence %></b><br/>
          Admin list: <b><%= article.admin_tag_list.to_sentence %></b>
        </td>
         <!-- <td><td><%= article.author_id %></td>-->
         <!-- <td><td><%= article.published_at %></td>-->
        <td><%= link_to 'Show', article , class: "linkform"%></td>
        <td><%= link_to 'Edit', edit_article_path(article) , class: "linkform"%></td>
        <td><%= link_to 'Destroy', article, class: "linkform", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, class: "linkform"  %>
</div>
</div>
</div>
</div>
</div>

