
<br>
<div class="row">
   <div class="small-11 small-centered large-centered columns">
    <div class="panel-login-header"><span class="titleloginbody text-center">Admin [ Showing articles ]</span></div>
    <div class="panel-login-body clearfix">
      <div class="row">
        <div class="large-12 columns" role="content">
<fieldset class="fieldset1">
<p id="notice"><%= notice %></p><br>
<%= link_to 'Edit', edit_article_path(@article),  class: "linkform"   %> |
<%= link_to 'Back', articles_path,  class: "linkform"   %> | 
<%= link_to 'New Article', new_article_path, class: "linkform"  %>
<br>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article.slug %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @article.locale %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>


<p>
  <strong>Tags:</strong>
  <%= @article.tag_list.to_sentence %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @article.category_list.to_sentence %>
</p>

<p>
  <strong>Admin Tags:</strong>
  <%= @article.admin_tag_list.to_sentence %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body.html_safe %>
</p>
</fieldset>
</div>
</div>
</div>
</div>
</div>

